<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.data.dao.MessageDao">
    <insert id="add" parameterType="com.system.data.entity.Message">
        INSERT INTO message
        (title, userId, email, name, contentId, status, savetime, updatetime) VALUES
        (#{data.title}, #{data.userId}, #{data.email}, #{data.name}, #{data.contentId}, #{data.status}, now(), now())
    </insert>

    <update id="update" parameterType="com.system.data.entity.Message">
        UPDATE message
        <set>
            <if test="data.title != null">title = #{data.title},</if>
            <if test="data.contentId != null">contentId = #{data.contentId},</if>
            <if test="data.status != null">status = #{data.status},</if>
            updatetime = now()
        </set>
        <where>
            id = #{data.id}
        </where>
    </update>

    <select id="page" resultType="com.system.data.entity.Message">
        SELECT n.id, title, userId, email, name, content, status, savetime, updatetime
        FROM
        message n,
        message_content c
        <where>
          <if test="status != null">n.status = #{status} AND </if>
          c.id = n.contentId
        </where>
        limit #{start},#{offset};
    </select>

    <select id="pageByUserId" resultType="com.system.data.entity.Message">
        SELECT n.id, title, userId, email, name, content, status, savetime, updatetime
        FROM
        message n,
        message_content c
        <where>
        <if test="status != null">n.status = #{status} AND </if>
        n.userId = #{userId} AND
            c.id = n.contentId
        </where>
        limit #{start},#{offset};
    </select>

    <select id="count" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT count(*) FROM message
        <where>
            <if test="userId != null">
                userId = #{userId}
            </if>
            <if test="status != null">
              status = #{status}
            </if>
        </where>
    </select>

    <select id="find" resultType="com.system.data.entity.Message">
        SELECT n.id, title, userId, email, name, contentId, content, status, savetime, updatetime
        FROM message n, message_content c
        <where>
            <if test="status != null">
                status = #{status} AND
            </if>
            n.id = #{id} AND c.id = n.contentId
        </where>
    </select>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE n, c FROM message n LEFT JOIN message_content c ON c.id = n.contentId WHERE n.id = #{id}
    </delete>
</mapper>